/**************************\
  Basic Modal Original Styles
\**************************/

.iwpdf-modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9991;
}

.iwpdf-modal__container {
    background-color: #fff;
    padding: 30px;
    max-width: 650px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
}

.iwpdf-modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iwpdf-modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    box-sizing: border-box;
}

.iwpdf-modal__close {
    background: transparent;
    border: 0;
    cursor:pointer;
}

.iwpdf-modal__header .iwpdf-modal__close:before { content: "\2715"; }

.iwpdf-modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
}

.iwpdf-modal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0,0,0,.8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.iwpdf-modal__btn:focus, .iwpdf-modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}



/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes mmslideIn {
    from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
    display: none;
}

.micromodal-slide.is-open {
    display: block;
}

.micromodal-slide[aria-hidden="false"] .iwpdf-modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .iwpdf-modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .iwpdf-modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .iwpdf-modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .iwpdf-modal__container,
.micromodal-slide .iwpdf-modal__overlay {
    will-change: transform;
}

@media(min-width: 480px) {
    .iwpdf-modal__container {
        min-width: 400px;
    }
}


/**************************\
  Basic Modal Custom Styles
\**************************/

.iwpdf-modal__footer .button-link {
    text-decoration: none;
    padding: 5px;
    line-height: 2.15384615;
}
.iwpdf-modal__footer .button-link, .iwpdf-modal__footer .button-secondary {
    float: right;
}

.iwpdf-form-row {
    margin-bottom: 5px;
}

.iwpdf-subfield {
    padding-left: 19px;
    margin-top: 3px;
}

.iwpdf-subfield input[type=text] {
    width: 100%;
}
.iwpdf--has-text:not(.iwpdf-form-row-current) .iwpdf-subfield {
    display:none;
}
.iwpdf-modal__content p.iwpdf-modal__content-intro {
    margin-bottom: 20px;
    margin-top: 15px
}